@model IEnumerable<ClassCloud.Models.Course>

@{
    ViewBag.Title = "Classes";
}

<script type="text/javascript">
    $(document).ready(function () {
        var msg = '@ViewBag.Message';
        if(msg === 'Would you like to log in')
            if (confirm(msg))
            {
                window.location.href = '../Account/Login';
            }

    });
</script>
<h2>Classes</h2>
<h3>Currently logged in as @User.Identity.Name</h3>
<button data-bind="click: addClass" class="btn btn-lg btn-primary">Add Classes</button>
<button class="btn btn-lg btn-primary" data-bind="click: showCalendar">Show Calendar</button>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CRN)
        </th>
        <th></th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <span>
                    @Html.DisplayFor(modelItem => item.Name)
                </span>
            </td>
            <td>
                <span>
                    @Html.DisplayFor(modelItem => item.CRN)
                </span>
            </td>
            <td>
                <button class="btn btn-primary" data-bind="click: function(){searchVM.LoadCourseInfo(@item.ID)}">Go!</button>
            </td>
            
        </tr> }


</table>
