@model IEnumerable<ClassCloud.Models.Course>

@{
    ViewBag.Title = "Classes";
}

<script type="text/javascript">
    $(document).ready(function () {
        var msg = '@ViewBag.Message';
        if (msg === 'Would you like to log in')
            if (confirm(msg)) {
                window.location.href = '../Account/Login';
            }

    });
</script>
<h2>Classes</h2>
<h3>Currently logged in as @User.Identity.Name</h3>

<div class="col-lg-6">
    <button data-bind="click: addClass" class="btn btn-lg btn-primary">Add Classes</button>
   
    @if (Model == null || Model.Count() == 0)
    {
         <button class="btn btn-lg btn-primary disabled" data-bind="click: showCalendar">Show Calendar</button>
        <div>
            <p class="alert alert-danger">You currently have no courses, please add some!</p>

        </div>
    }
    @if (Model != null)
    {
         <button class="btn btn-lg btn-primary" data-bind="click: showCalendar">Show Calendar</button>
        <table class="table table-hover table-condensed">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.CRN)
                </th>
                <th>Action</th>
            </tr>
            @foreach (var item in Model)
{
    <tr data-bind="css: { 'alert-info': @item.ID == searchVM.activeClass() }">
        <td>
            <span>
                @Html.DisplayFor(modelItem => item.Name)
            </span>
        </td>
        <td>
            <span>
                @Html.DisplayFor(modelItem => item.CRN)
            </span>

        </td>
        <td><button class="btn btn-primary" data-bind="click: function(){searchVM.DisplayLecture(@item.ID)}">View</button></td>



    </tr> }


        </table>}
   
</div>
<div class="col-md-6">
    <!-- ko if: (searchVM.LectureList().length) -->
    
    <table class="table table-hover table-bordered alert-info">
        <thead>
            <tr>
                
                <th>Lecture ID</th>
                <th>Lecture Name</th>
                <th>Lecture Date</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody data-bind="foreach: searchVM.LectureList">
            <tr>
                <td data-bind="text: $data.id"></td>
                <td data-bind="text: $data.name"></td>
                <td data-bind="text: $data.date"></td>
                <td>
                    <button class="btn btn-success btn-mini">Go To Lecture!</button>
                </td>
            </tr>
        </tbody>
    </table>
    <!-- /ko -->


</div>
<span class="clearfix "></span>